* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, white, cyan );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: inline-block;
    gap: 10px;
}

.card {
    width: 200px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);  
    display: inline-block;
    flex-direction: column;
    justify-content: flex-end;
}

.card img {
    width: 100%;
    height: auto;
}

.card p {
    margin-top: -4px;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
}


.card1 {
    background-color: #2a3eb1; 
}

.card1 p {
    color: rgba(72, 222, 89);
    border: solid 4px black;
}

.card2 {
    background-color: #e0ffff;  
}

.card2 p {
    color: red;
    border: solid 4px black;
}
.card3 {
    background-color: rgba( 95, 158, 160 );  
}

.card3 p {
    color: darkgreen;
    border: solid 4px black; 
}

.card4 {
    background-color: rgba(255, 127, 80);   
}

.card4 p {
    color: rgba(76, 220, 191);
    border: solid 4px black;
}

.card5 {
    background-color: #8b0000; 
}

.card5 p {
    color: gray;
    border: solid 4px black;
}